h1 {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: grid;
  height: 100%;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: 1fr 4px 1fr;
  grid-gap: 24px;
  width: 80vw;
  margin: auto;
  /* overflow-y: hidden; because vertical scrollbar */
}

.add-questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: max-content;
}
.add-questions span {
  font-size: 3rem;
}
a {
  grid-column: 1/3;
  text-align: center;
}
.questions-and-answers {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
}
.question {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-row-gap: 0.5rem;
}
.question p {
  grid-column: 2/3;
  margin: 0.4rem 0;
}
.category {
  grid-column: 2/3;
}
